/*
    transform : translate(), scale(), rotate(), skew()
*/

div {
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one {
    background: red;
    /*transform: translateX(50%);*/
    /*transform: scaleX(0.5);*/
    transform: rotate(340deg);
}

.two {
    background: green;
    /*transform: translateY(30px);*/
    /*transform: scaleY(2);*/
    transform: rotateZ(135deg);
    transform: rotate(135deg);
}

.three {
    background: blue;
    /*transform: translateX(75px);*/
    /*transform: translate(200px, 300px);*/
    /*transform: scale(1.5, 1.5);*/
    transform: rotateX(90deg);
    transform: rotateY(90deg);
}